devops\python\PAN-to-Versa-cfg-Translate\Source_Files\Panorama_Config_8-30-23.xml
devops\python\PAN-to-Versa-cfg-Translate\Source_Files\NGFW-TEST.cfg
devops\python\PAN-to-Versa-cfg-Translate\Output_Files\Panorama_Config_8-30-23.cfg
devops\python\PAN-to-Versa-cfg-Translate\Output_Files\versa-cfg-translate.log
devops\python\PAN-to-Versa-cfg-Translate\Old\pan-convert.python