[
  {
    "address": "{{sdwan_bgp_address}}",
    "asn": "{{sdwan_bgp_asn}}",
    "password": "{{bgp_password}}",
    "importPolicy": "{{bgp_import_policy}}",
    "exportPolicy": "{{bgp_export_policy}}"
    }
  ],
  "localASN": "{{vcg_bgp_asn}}"
